<h1 class="text-center">
    <strong>Artistas</strong>

    <div class="pull-right">
        <a href="#artistas/create" class="btn btn-sm btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
    </div>

</h1>

<hr>

<h2 class="text-center" ng-hide="vm.dataLoaded">
    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</h2>

<table class="table table-hover" ng-show="vm.dataLoaded">
    <thead>
        <tr>
            <th>Nombre</th>
            <th><i class="fa fa-flag" aria-hidden="true"></i></th>
            <th>Ver</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="artista in vm.artistas">
            <td>{{artista.artistName}}</td>
            <td>{{artista.nationality.country}}</td>
            <td><a href="#/artistas/{{artista.artistId}}" class="btn btn-xs btn-info"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
        </tr>
    </tbody>
</table>